<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
    @*<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    @RenderSection("Stylesheets", false)
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sports Live Scoreboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-page="/EventSearch">Search</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Sport" asp-controller="Event" asp-action="All">My Events</a>
                </li>
            }
        </ul>
        <partial name="_LoginPartial"/>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div class="container body-content" @ViewData["container-modifiers"]>
    <br />
    @RenderBody()
    <br /><br />
    @*<div class="container body-content fixed-bottom" style="height: 50px; margin-bottom: 20px;">*@
    @*<div>
        <hr>
        <footer>
            <p>© 2018 - Sports Live Scoreboard</p>
        </footer>
    </div>*@
</div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/popper/popper.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial"/>


@RenderSection("Scripts", required: false)
</body>
</html>